<div class="jumbotron">
    <h1>ASP.NET API For Geo Hyphenation</h1>
    <p class="lead">This API lets you clean and hyphenate Georgian document</p>
    <p><a href="" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>To make document ready for Adobe InDesign, it is must to call CorrectPDashStarts and CleanTabs when cleaning</p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Used library</h2>
        <p>This API is based on Microsoft.Office.Interop.Word Library, but our team is working on custom library for faster and optimized results</p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for this applications.</p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
</div>
