{% extends 'base.html' %}
{% load static %}
{% block page_title %}Home{% endblock %}
{% block page_content %}

<section class="feature-area">
    <div class="container">
        <div class="row">
            <div class="col-xl">
                <div class="single-feature">
                    <div class="title">
                        <h3>Document Editor</h3>
                    </div>
                    <!-- {% for i in document.paragraphs %}
                    {{i.text}}
                    {% endfor %} -->
                    <form action="/" method="post">
                        <!-- <textarea class="text-input" name="body" id="body"></textarea> -->
                        <textarea name="tx"></textarea>
                        <input type="submit" value="Go">
                    </form>
                    <script>
                        tinymce.init({
                          selector: 'textarea',
                          plugins: 'advlist autolink lists link image charmap print preview hr anchor pagebreak',
                          toolbar_mode: 'floating',
                        });
                      </script>
                   
                </div>
            </div>
        </div>
</section>

{% endblock %}